<!DOCTYPE html>
<html>
  <head>
    <title>contact</title>
  </head>
  <body style="background-color: chocolate;">
    <h1>contact:</h1>
    <h3>nom: <%= nom %></h3>
    <h3>telephone:<%= telephone%></h3>
    <h3>email:<%=email %></h3>
    <h3>adresse:<%=adresse %></h3>
  </body>
</html>
