<html>
  <head>
    <title>Home</title>
  </head>
  <body style="background-color:chocolate">
    <h1 style="color:beige">
      une application pour comprendre le principe du routage,<br />
      et les méthodes (GET, POST, PUT,….) tilisées dans les routes Express,<br />
      et une initiation au fichier JSON.
    </h1>

    <h3>
      <h2>1/</h2>
      <br />
      affiche des données contact avec la method post en contenu html
    </h3>
    <form action="http://127.0.0.1:3000/contact" method="post">
      <label for="">nom</label>
      <input type="text" name="nom" /><br />
      <label for="">telephone</label>
      <input type="text" name="telephone" /><br />
      <label for="">address</label>
      <input type="text" name="adresse" /><br />
      <label for="">email</label>
      <input type="text" name="email" />

      <button type="submit">afficher</button>
    </form>

    <h3>
      <h2>2/</h2>
      <br />tape le lien 127.0.0.1:3000/persone : pour affiche une liste de
      personnes avec <br />
      leurs informations à partir d’un fichier JSON existant,<br />
      avec la method get le fichier json :"./fichier.json"
    </h3>

    <h3>
      <h2>3/</h2>
      <br />127.0.0.1:3000/persone/ :id: affiche les données d’une personnes
      <br />
      à partir d’un fichier JSON existant, <br />
      en utilisant les vues express et la méthode GET."le fichier utilise
      :"./fichier.json"<br />
      les ids :[0,..,10]
    </h3>

    <h3>
      <h2>4/</h2>
      crée un fichier JSON avec identifiant et un nom d’utilisateur(le nom du
      fichier JSON doit être l’id saisie dans l’URL), en utilisant et la méthode
      POST: <br />
      1/ avec la method get : tape "127.0.0.1:3000/persone/add/ :id/ :name tell
      que <br />
      :id le nom de fichier = id de l utilisateur et :nom le nom de l
      utilisateur" <br />
      2/ avec la method post :
    </h3>
    <form action="http://127.0.0.1:3000/persone/add/" method="post">
      <label for="">ID</label>
      <input type="text" name="id" />
      <label for="">NOM</label>
      <input type="text" name="name" />

      <button type="submit">cree</button>
    </form>
    <h3><h2>5/</h2>127.0.0.1:3000/persone/update/ :id/ :email : mettre à jour un fichier un fichier JSON existant <br>
        en utilisant l’ id qui est le nom du fichier, en ajoutant la données email <br>
         aux informations existantes à l’intérieurs du fichier.</h3>
  </body>
</html>
