<!DOCTYPE html>
<html lang="en">
  <head>
   
    <title>persones liste </title>
  </head>
  <body>
    <h1>liste de persone</h1>
    <table class="table table-inverse">
      

      <tbody>
        <% for(var i=0; i < fichier.length; i++) { %>
        <tr>
          <td><%= fichier[i].nom %></td>
          <td><%= fichier[i].id  %></td>

        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
