<a href="page1" style="color:red">Page1</a>
<a href="page2" style="color:red">Page2</a>
<a href="page3" style="color:red">Page3</a>
<a href="page4" style="color:red">Page4</a>
<a href="page5" style="color:red">Page5</a>